{% extends "Ejercicios/kinestesicos/BasePuzzle.html" %}

	{% block tema %}
	    <h1 class="display-4">2. Introducción a la Programación</h1>
    {% endblock %}

	{% block subtema %}
		<li class="breadcrumb-item"><a href="#">Tema 2</a></li>
		<li class="breadcrumb-item active" aria-current="page">Tema 2.3: Estructura básica de un programa.</li>					
	{% endblock  %}	

					 
         
    {% block preguntas %}
	<p>1.- Ordenar de manera correcta lo siguiente:</p>
	<p id="NumeroPiezas" hidden="true">5</p>
	
	<script>
		window.onload = function()
	{
		A = document.getElementById('contenedorPiezas').innerHTML;
		 B = document.getElementById('Padre').innerHTML;
	}
		</script>

	
	
	<div class="row" id="contenedorPiezas" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop(event)">
		<img src="../static/imagenesK/puzzle/1.jpg" class="rounded mx-auto d-block " alt="image" id="pieza1" draggable="true" ondragstart="start(event)" ondragend="end(event)">
		<img src="../static/imagenesK/puzzle/2.jpg" class="rounded mx-auto d-block " alt="image" id="pieza2" draggable="true" ondragstart="start(event)" ondragend="end(event)">
		<img src="../static/imagenesK/puzzle/3.jpg" class="rounded mx-auto d-block " alt="image" id="pieza3" draggable="true" ondragstart="start(event)" ondragend="end(event)">
        <img src="../static/imagenesK/puzzle/4.jpg" class="rounded mx-auto d-block " alt="image" id="pieza4" draggable="true" ondragstart="start(event)" ondragend="end(event)">
		<img src="../static/imagenesK/puzzle/5.jpg" class="rounded mx-auto d-block " alt="image" id="pieza5" draggable="true" ondragstart="start(event)" ondragend="end(event)">

	  
	  <div class="col-md-1"id="none" draggable="false" ondragstart="start(event)" ondragend="end(event)"><--></div>
	</div>
	
	<p>En el espacio de abajo tendrá que acomodar, arrastrando y soltando.</p>
	
	<div id="puzzle" class="container-fluid puzzle">
		<div class="row-md-3 my" id="Padre" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop(event)" style="border-style: solid; height:450px;"></div>
		
		</div>
	<br>
	</div>
	{% endblock %}
	{% block sigienteEjercicioOVolver %}
	
	<!--<script type="text/javascript" src="../static/jsK/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../static/jsK/bootstrap.min.js"></script> -->
	<form id="form1"  name="form1" method="post" action="/evaluarK/E2/1/K/2" class="formulario" >{% csrf_token %} 
	<input type="text"  name="calificacion" id="calificacion" hidden="true">

	<br>
	<button class="btn btn-primary" type="submit" onclick="array();">Validar</button>
		<input type="submit" class="btn btn-primary" type="submit"  value="Evaluar">
	
		<input type="button"	class="btn btn-primary" value="Reset" id="reset" onclick="reset1();"> 
	</form>
	{% endblock %}

