{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="icon" href="{% static 'media/icono48.ico' %}" >
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
	
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
 {% block scrips %}
 	
 {% endblock %}
 
</head>

<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light {{color}} ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="/perfil/">Mi perfil: {{ nusuario }} <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/acercade/">Acerca de</a>
			      </li>
			    
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="/logOut/"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid {{ color2 }}">
			  <div class="container">
				  {% block tema %}
				
				  {% endblock %}
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						{% block subtema %}

						{% endblock %}
						
						</ol>
					</nav>
					
					{% block contenido %}

					{% endblock %}
					
					{% block Regresar %}

					{% endblock %}
                    					
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<center>
					   <h4>Fecha</h4>
				    </center>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>