{% extends 'Ejercicios/BaseEjemplos.html' %}
{% load static %}
  
{% block scrips %}
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
    <script type="text/javascript" src="{% static 'js/wordfind.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/wordfindgame.js' %}"></script> 
	
{% endblock %}

{% block tema %}
    <h1 class="display-4">Tema 2. Introducción a la programación. </h1>
{% endblock %}

{% block subtema %}
    <li class="breadcrumb-item"><a href="#">Tema 2</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tema 2.1: Conceptos básicos</li>
{% endblock %}

{% block contenido %}
<div style="margin-left: 200px;"><p> <font size="10" style="margin-left: 30px;"> Sopa de letras </font> <br> <font size ="4"><u> Instrucciones:</u> De click y arrastre sobre cada una <br> de las letras hasta formar la palabra.</font> </p></div>
    <div id='juego'></div>
    <div id='Palabras'></div>
       
<br>
    <div><button id='solve'>Resolver el juego</button></div> </td> </table>
    <script>
    var words = ['Constantes','Variables','Expresiones','Identificadores','Bucles','Contadores','Estructuras', 'Interruptores'];
    var gamePuzzle = wordfindgame.create(words, '#juego', '#Palabras'); 
        
    var puzzle = wordfind.newPuzzle(words,{height: 18, width:18, fillBlanks: false});
    wordfind.print(puzzle);   
        
    $('#solve').click( function() {wordfindgame.solve(gamePuzzle, words);});
    
    </script>
    <br><br>
    <br> <br>
    <br><br>
    <br> <br>
    <br><br>
    <br> 
{% endblock %}

{% block Regresar %}
<br><br>
<br> <br>
	<div class="ejercicios-btn">
		<a href="/tema/2/1/1" class="btn btn-primary" style="margin-right: 400px;">Regresar al tema</a>
	</div>
{% endblock %}




