
    {% extends "Ejercicios/BaseEVisual.html" %}
 
  {% block tema %}
  <h1 class="display-4">Tema 2. Introducción a la programación.</h1>
    {% endblock %}

  {% block subtema %}
  <li class="breadcrumb-item"><a href="#">Tema 2</a></li>
  <li class="breadcrumb-item active" aria-current="page">Tema 2.3: Estructura básica de un programa.</li>    
  {% endblock  %} 


    {% block preguntas %}
    <form id="form1" name="form1" method="post" action="/evaluar/E2/3/A/2" class="formulario" onsubmit="alert('Tu puntuación es: '+{{resultado}})">{% csrf_token %}

      <div class="contenido">

        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
<h3> Ejercicio 2. </h3>
      <h3>Escuche el audio y selecciona la respuesta correcta.</h3>

      <div class="widget">
         <fieldset>
          <legend>Selecciona la respuesta</legend>
          <div class="audioejemplo">
          <!-- PREGUNTA   1------------------------------------------------------------------- -->
          <p> 1.- 
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_1/pregunta1.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_1/pregunta1.mp3" type="audio/mp3" id="sound">
            </audio>
          </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   1 --------------------------------------------------- -->
          
          <label for="radio-1"><b>A)</b> </label>
          <input type="radio" value="A" name="respuesta1" id="radio-1">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_1/respuesta1.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_1/respuesta1.mp3" type="audio/mp3" id="sound">
            </audio>
          
          <label for="radio-2"><b>B)</b> </label>
          <input type="radio" value="B" name="respuesta1" id="radio-2">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_1/respuesta2.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_1/respuesta2.mp3" type="audio/mp3" id="sound">
            </audio>
<br>
          <label for="radio-3"><b>C)</b> </label>
          <input type="radio" value="C" name="respuesta1" id="radio-3">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_1/respuesta3.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_1/respuesta3.mp3" type="audio/mp3" id="sound">
            </audio>

          </fieldset>
      </div>
<hr>
      <div class="widget">
         <fieldset>
          <legend>    </legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   2 ------------------------------------------------------------------- -->
           <p>2.-
              <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_2/pregunta2.mp3" preload="none" controls>
                <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_2/pregunta2.mp3" type="audio/mp3" id="sound">
              </audio> 
           </p>
          </div>

            <!-- RESPUESTAS DE LA PREGUNTA   2 ----------------------------------------------------- -->
          <label for="radio-4"><b>A)</b> </label>
          <input type="radio" value="A" name="respuesta2" id="radio-4">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_2/respuesta1.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_2/respuesta1.mp3" type="audio/mp3" id="sound">
            </audio>

          
          <label for="radio-5"><b>B)</b> </label>
          <input type="radio" value="B" name="respuesta2" id="radio-5">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_2/respuesta2.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_2/respuesta2.mp3" type="audio/mp3" id="sound">
            </audio>

    <br>
          <label for="radio-6"><b>C)</b> </label>
          <input type="radio" value="C" name="respuesta2" id="radio-6">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_2/respuesta3.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_2/respuesta3.mp3" type="audio/mp3" id="sound">
            </audio>

          </fieldset>
      </div>
<hr>
      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   3 ------------------------------------------------------------------- -->
          <p> 3.-
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_3/pregunta3.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_3/pregunta3.mp3" type="audio/mp3" id="sound">
            </audio>
          </p>
          </div>
          
          <!-- RESPUESTAS DE LA PREGUNTA   3 ------------------------------------------------------ -->

          <label for="radio-7"><b>A)</b> </label>
          <input type="radio" value="A" name="respuesta3" id="radio-7">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_3/respuesta1.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_3/respuesta1.mp3" type="audio/mp3" id="sound">
            </audio>


          <label for="radio-8"><b>B)</b> </label>
          <input type="radio" value="B" name="respuesta3" id="radio-8">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_3/respuesta2.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_3/respuesta2.mp3" type="audio/mp3" id="sound">
            </audio>          

          <br>
          <label for="radio-9"><b>C)</b> </label>
          <input type="radio" value="C" name="respuesta3" id="radio-9">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_3/respuesta3.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_3/respuesta3.mp3" type="audio/mp3" id="sound">
            </audio>

          </fieldset>
      </div>
<hr>
      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
          
          <!-- PREGUNTA   4 ------------------------------------------------------------------- -->
          <p>4.-
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_4/pregunta4.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_4/pregunta4.mp3" type="audio/mp3" id="sound">
            </audio> 
          </p>
          </div>


          <!-- RESPUESTAS DE LA PREGUNTA   4 ------------------------------------------------------ -->

          <label for="radio-10"><b>A)</b> </label>
          <input type="radio" value="A" name="respuesta4" id="radio-10">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_4/respuesta1.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_4/respuesta1.mp3" type="audio/mp3" id="sound">
            </audio>


          <label for="radio-11"><b>B)</b> </label>
          <input type="radio" value="B" name="respuesta4" id="radio-11">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_4/respuesta2.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_4/respuesta2.mp3" type="audio/mp3" id="sound">
            </audio>
<br>
          
          <label for="radio-12"><b>C)</b> </label>
          <input type="radio" value="C" name="respuesta4" id="radio-12">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_4/respuesta3.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_4/respuesta3.mp3" type="audio/mp3" id="sound">
            </audio>
            </fieldset>
          </div>
<hr>
        <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
          
          <!-- PREGUNTA   5 ------------------------------------------------------------------- -->
          <p>5.-
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_5/pregunta5.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_5/pregunta5.mp3" type="audio/mp3" id="sound">
            </audio> 
          </p>
          </div>


          <!-- RESPUESTAS DE LA PREGUNTA   5 ------------------------------------------------------ -->

          <label for="radio-13"><b>A)</b> </label>
          <input type="radio" value="A" name="respuesta5" id="radio-13">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_5/respuesta1.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_5/respuesta1.mp3" type="audio/mp3" id="sound">
            </audio>


          <label for="radio-14"><b>B)</b> </label>
          <input type="radio" value="B" name="respuesta5" id="radio-14">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_5/respuesta2.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_5/respuesta2.mp3" type="audio/mp3" id="sound">
            </audio>

          <br>
          <label for="radio-15"><b>C)</b> </label>
          <input type="radio" value="C" name="respuesta5" id="radio-15">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_5/respuesta3.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_5/respuesta3.mp3" type="audio/mp3" id="sound">
            </audio>
          </fieldset>
        </div>
<hr>
        <div class="widget">
         <fieldset>
          <legend> </legend>
          <div class="audioejemplo">
          
          <!-- PREGUNTA   6 ------------------------------------------------------------------- -->
          <p>6.-
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_6/pregunta6.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_6/pregunta6.mp3" type="audio/mp3" id="sound">
            </audio> 
          </p>
          </div>


          <!-- RESPUESTAS DE LA PREGUNTA   6 ------------------------------------------------------ -->

          <label for="radio-16"><b>A)</b> </label>
          <input type="radio" value="A" name="respuesta6" id="radio-16">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_6/respuesta1.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_6/respuesta1.mp3" type="audio/mp3" id="sound">
            </audio>


          <label for="radio-17"><b>B)</b> </label>
          <input type="radio" value="B" name="respuesta6" id="radio-17">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_6/respuesta2.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_6/respuesta2.mp3" type="audio/mp3" id="sound">
            </audio>
<br>
          
          <label for="radio-18"><b>C)</b> </label>
          <input type="radio" value="C" name="respuesta6" id="radio-18">
            <audio id="audio" src="../static/media/EjercicioAuditivo/2.3/Pregunta_6/respuesta3.mp3" preload="none" controls>
              <source src="../static/media/EjercicioAuditivo/2.3/Pregunta_6/respuesta3.mp3" type="audio/mp3" id="sound">
            </audio>

          <!-- BOTON DE EVALUACION ------------------------------------------------------ -->
            <legend> ... </legend>
            <input type="submit" value="Calificar">

          </fieldset>
      </div>
    </div>
  </form>
      {% endblock %}
  {% block sigienteEjercicioOVolver %}
      <li class="page-item"><a class="page-link" href="/ejercicio/E2"><i class="fa fa-arrow-right" aria-hidden="true"></i> Siguiente Ejercicio</a></li>
      </ul>
    </nav>
    <div class="ejercicios-btn">
            <a href="/tema/2/3/1" class="btn btn-primary">Regresar al tema</a>
        </div>
  {% endblock %}
  

   <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
     