
{% extends "Ejercicios/BaseEVisual.html" %}
 
  {% block tema %}
  <h1 class="display-4">Tema 2. Introducción a la programación.</h1>
    {% endblock %}

  {% block subtema %}
  <li class="breadcrumb-item"><a href="#">Tema 2</a></li>
  <li class="breadcrumb-item active" aria-current="page">Tema 2.5: Traducción de un programa: compilación, enlace, ejecución y errores.</li>    
  {% endblock  %} 


    {% block preguntas %}
    <form id="form1" name="form1" method="post" action="/evaluar/E2/5/V/3" class="formulario" onsubmit="alert('Tu puntuación es: '+{{resultado}})">{% csrf_token %}

      <div class="contenido">

        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
  
			<h3>Ejercicio 1.</h3>
      <h3>Lee el texto y selecciona la respuesta correcta.</h3>

			<div class="widget">
				 <fieldset>
   				<legend>Selecciona la respuesta</legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   1------------------------------------------------------------------- -->
          <p> 1.- ¿Cómo se le conoce al programa informático que traduce un programa escrito en un lenguaje de programación a otro lenguaje de programación, generando un programa equivalente que la máquina será capaz de interpretar?</p>
          </div>

   				<!-- RESPUESTAS DE LA PREGUNTA   1 --------------------------------------------------- -->
    			<label for="radio-1"><b>A)</b> Pseudocódigo</label>
    			<input type="radio" value="A" name="respuesta1" id="radio-1">
    			
    			<label for="radio-2"><b>B)</b> Lenguaje</label>
    			<input type="radio" value="B" name="respuesta1" id="radio-2">
    			
    			<label for="radio-3"><b>C)</b> Compilador</label>
    			<input type="radio" value="C" name="respuesta1" id="radio-3">
  				</fieldset>
			</div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   2 ------------------------------------------------------------------- -->
           <p>2.- ¿Qué parte corresponde a la comprobación de la corrección del programa fuente e incluye las fases al análisis léxico, análisis sintáctico y análisis semántico?</p>
          </div>
          
          <!-- RESPUESTAS DE LA PREGUNTA   2 --------------------------------------------------- -->
          <label for="radio-4"><b>A)</b> Compilador</label>
          <input type="radio" value="A" name="respuesta2" id="radio-4">

          <label for="radio-5"><b>B)</b> Síntesis</label>
          <input type="radio" value="B" name="respuesta2" id="radio-5">

          <label for="radio-6"><b>C)</b> Análisis</label>
          <input type="radio" value="C" name="respuesta2" id="radio-6">

          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   3 ------------------------------------------------------------------- -->
          <p> 3.- ¿Qué fase tiene como objetivo la generación de la salida expresada en el lenguaje objeto y suele estar formado por una o varias combinaciones de generación de código y de optimización de código?</p>
          </div>

          <!-- RESPUESTAS DE LA PREGUNTA   3 --------------------------------------------------- -->
          <label for="radio-7"><b>A)</b> Análisis</label>
          <input type="radio" value="A" name="respuesta3" id="radio-7">
          
          <label for="radio-8"><b>B)</b> Síntesis</label>
          <input type="radio" value="B" name="respuesta3" id="radio-8">
         
          <label for="radio-9"><b>C)</b> Proceso</label>
          <input type="radio" value="C" name="respuesta3" id="radio-9">
          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   4 ------------------------------------------------------------------- -->
          <p>4.- ¿Cuál es la parte que analiza el código fuente, comprueba su validez, general el árbol de derivación y rellena los valores de la tabla de símbolos? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   4 --------------------------------------------------- -->
          <label for="radio-10"><b>A)</b> Front-end</label>
          <input type="radio" value="A" name="respuesta4" id="radio-10">
         
          <label for="radio-11"><b>B)</b> Back-end</label>
          <input type="radio" value="B" name="respuesta4" id="radio-11">
          
          <label for="radio-12"><b>C)</b> Codificación</label>
          <input type="radio" value="C" name="respuesta4" id="radio-12">
          </fieldset>
      </div>

            <!-- PREGUNTA   5 ------------------------------------------------------------------- -->
            <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
          <p>5.- ¿Cuál es la parte que genera el código máquina, específico de una plataforma, a partir de los resultados de la fase de análisis? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   5 --------------------------------------------------- -->
          <label for="radio-13"><b>A)</b> Back-end</label>
          <input type="radio" value="A" name="respuesta5" id="radio-13">
          
          <label for="radio-14"><b>B)</b> Front-end</label>
          <input type="radio" value="B" name="respuesta5" id="radio-14">
          
          <label for="radio-15"><b>C)</b> Compilación</label>
          <input type="radio" value="C" name="respuesta5" id="radio-15">

          <!-- BOTON DE EVALUACION ------------------------------------------------------ -->
            <legend> ... </legend>
            <input type="submit" value="Calificar">

          </fieldset>
      </div>
		</div>
  </form>
  {% endblock %}
  {% block sigienteEjercicioOVolver %}
      <li class="page-item"><a class="page-link" href="/ejercicio/E2"><i class="fa fa-arrow-right" aria-hidden="true"></i> Siguiente Ejercicio</a></li>
      </ul>
    </nav>
    <div class="ejercicios-btn">
            <a href="/tema/2/5/1" class="btn btn-primary">Regresar al tema</a>
        </div>
  {% endblock %}
  

   <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
     

          
			