{% extends "Ejercicios/BaseEVisual.html" %}

	{% block tema %}
	    <h1 class="display-4">Tema 5. Modularidad</h1>
    {% endblock %}

	{% block subtema %}
		<li class="breadcrumb-item"><a href="#">Tema </a></li>
		<li class="breadcrumb-item active" aria-current="page">Tema 5.2: Paso de parámetros o argumentos.</li>					
	{% endblock  %}	

					
         
    {% block preguntas %}
 <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
      <form id="form1" name="form1" method="post" action="/evaluar/E4/4/V/1" class="formulario" onsubmit="alert('Tu puntuación es: '+{{resultado}})">{% csrf_token %} 

          <div class="contenido">

          	{% if messages %}
          		<ul class="messages">
          			{% for message in messages %}
          			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          			{% endfor %}
          		</ul>
          	{% endif %}
			
			<h3>Ejercicio 1.</h3>
      <h3>Lee el texto y selecciona la respuesta correcta.</h3>

			<div class="widget">
				 <fieldset>
   				<legend>Selecciona la respuesta</legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   1------------------------------------------------------------------- -->
          <p>1.- ¿Cuál es el nombre que se le da a la variable que es utilizada para recibir valores de entrada en una rutina, subrutina o método?</p>
          </div>

   				<!-- RESPUESTAS DE LA PREGUNTA   1 --------------------------------------------------- -->
    			<label for="radio-1"><b>A)</b> Variable global </label>
    			<input type="radio" value="A" name="respuesta1" id="radio-1">
    			
    			<label for="radio-2"><b>B)</b> Parámetro</label>
    			<input type="radio" value="B" name="respuesta1" id="radio-2">
    			
    			<label for="radio-3"><b>C)</b> Constante</label>
    			<input type="radio" value="C" name="respuesta1" id="radio-3">
  				</fieldset>
			</div>

      <div class="widget">
         <fieldset>
          <legend> 	  </legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   2 ------------------------------------------------------------------- -->
           <p>2.- ¿Como son llamados los datos que son mandados desde una rutina invocable?</p>
          </div>
          
          <!-- RESPUESTAS DE LA PREGUNTA   2 --------------------------------------------------- -->
          <label for="radio-4"><b>A)</b> Argumentos</label>
          <input type="radio" value="A" name="respuesta2" id="radio-4">

          <label for="radio-5"><b>B)</b> Parámetros</label>
          <input type="radio" value="B" name="respuesta2" id="radio-5">

          <label for="radio-6"><b>C)</b> Constante</label>
          <input type="radio" value="C" name="respuesta2" id="radio-6">

          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend> 	</legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   3 ------------------------------------------------------------------- -->
          <p>3.- ¿Cuál es una principal diferencia entre parámetro y argumento?</p>
          </div>

          <!-- RESPUESTAS DE LA PREGUNTA   3 --------------------------------------------------- -->
          <label for="radio-7"><b>A)</b> No tienen diferencias</label>
          <input type="radio" value="A" name="respuesta3" id="radio-7">
          
          <label for="radio-8"><b>B)</b> Los parámetros aparecen en la declaración de los métodos y los argumentos en las llamadas a los métodos.</label>
          <input type="radio" value="B" name="respuesta3" id="radio-8">
         
          <label for="radio-9"><b>C)</b> Los parámetros solo pueden contener cierto tipo de datos que los argumentos no.</label>
          <input type="radio" value="C" name="respuesta3" id="radio-9">
          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   4 ------------------------------------------------------------------- -->
          <p>4.- ¿Cuantas formas hay de pasar un argumento?</p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   4 --------------------------------------------------- -->
          <label for="radio-10"><b>A)</b> 5</label>
          <input type="radio" value="A" name="respuesta4" id="radio-10">
         
          <label for="radio-11"><b>B)</b> 4</label>
          <input type="radio" value="B" name="respuesta4" id="radio-11">
          
          <label for="radio-12"><b>C)</b> 3</label>
          <input type="radio" value="C" name="respuesta4" id="radio-12">
          </fieldset>
      </div>

            <!-- PREGUNTA   5 ------------------------------------------------------------------- -->
            <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
          <p> 5.- ¿Consiste en copiar el contenido de la variable que queremos pasar en otra dentro del ámbito local de la subrutina?</p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   5 --------------------------------------------------- -->
          <label for="radio-13"><b>A)</b> Paso por valor resultado</label>
          <input type="radio" value="A" name="respuesta5" id="radio-13">
          
          <label for="radio-14"><b>B)</b> Paso por referencia.</label>
          <input type="radio" value="B" name="respuesta5" id="radio-14"><br>
          
          <label for="radio-15"><b>C)</b> Paso por valor.</label>
          <input type="radio" value="C" name="respuesta5" id="radio-15">

          <!-- BOTON DE EVALUACION ------------------------------------------------------ -->
            <legend> ... </legend>
            <input type="submit" value="Calificar">

          </fieldset>
      </div>
		</div>
  </form>
	{% endblock %}
	{% block sigienteEjercicioOVolver %}
	    <li class="page-item"><a class="page-link" href="/ejercicio/E5"><i class="fa fa-arrow-right" aria-hidden="true"></i> Siguiente Ejercicio</a></li>
			</ul>
		</nav>
		<div class="ejercicios-btn">
            <a href="/tema/5/2/1" class="btn btn-primary">Regresar al tema</a>
        </div>
	{% endblock %}
