{% extends 'Ejercicios/BaseEjemplos.html' %}
{% load static %}

{% block scrips %}
	
{% endblock %}

{% block tema %}
<h1 class="display-4">Tema 5. Modularidad. </h1>		
{% endblock %}

{% block subtema %}
<li class="breadcrumb-item"><a href="#">Tema 5</a></li>
<li class="breadcrumb-item active" aria-current="page">Tema 5.1: Declaración y uso de módulos. </li>
{% endblock %}

{% block contenido %}
	<article class="post clearfix article">
		<a href="#" class="thumb pull-left">
			<img src="" alt="">
		</a>
		<h2 class="post-title">
			<a href="#">Declaración de funciones. </a>
		</h2>
		

		<p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
			1.- Ejemplo sobre la declaración de una función utilizando el lenguaje C.

		</p><br>
		<p style="text-align: center;">
			<img src="{% static 'media/funcionejemp.png' %}" width="600" height="500" class="d-inline-block align-top" alt=""><br>
		</p>

		<p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
			2.-Función el lenguaje C.</p><br>
		<p style="text-align: center;">
			<img src="{% static 'media/funcionC.png' %}" width="600" height="500" class="d-inline-block align-top" alt=""><br>
		</p>

		<p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
			3.-Función el lenguaje Java.</p><br>
		<p style="text-align: center;">
			<img src="{% static 'media/funcionJava.png' %}" width="600" height="500" class="d-inline-block align-top" alt=""><br>
		</p>

		<p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
			4.-Función el lenguaje C#.</p><br>
		<p style="text-align: center;">
			<img src="{% static 'media/funcionC#.png' %}" width="600" height="500" class="d-inline-block align-top" alt=""><br>
		</p>

	</article>
{% endblock %}

{% block Regresar %}
	<div class="ejercicios-btn">
		<a href="/tema/5/1/3" class="btn btn-primary">Regresar al tema</a>
	</div>
{% endblock %}






